/*
 * Simple Calculator API
 *
 * This is a simple API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: you@your-company.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DevelopersApiController : Controller
    { 

        /// <summary>
        /// Sums two values
        /// </summary>
        /// <remarks>Sums two values </remarks>
        /// <param name="a">first value</param>
        /// <param name="b">second value</param>
        /// <response code="200">sum result</response>
        /// <response code="400">bad input parameter</response>
        [HttpGet]
        [Route("/raulbojalil/Calculator/1.0.0/sum")]
        [SwaggerOperation("Sum")]
        [SwaggerResponse(200, type: typeof(OperationResult))]
        public virtual IActionResult Sum([FromQuery]int? a, [FromQuery]int? b)
        {

            string exampleJson = "{ \"result\" : " + (a + b) + " }";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<OperationResult>(exampleJson)
            : default(OperationResult);
            return new ObjectResult(example);
        }
    }
}
